@media (max-width : 1280px) {
  .hero__title {
    font-size: 61px;
  }

  .about__descr,
  .instagram__descr {
    padding-right: 35px;
  }

  .projects__subtitle {
    max-width: 45%;
  }
}


@media (max-width: 1024px) {
  [class*=__container] {
    padding: 0 40px;
  }

  .hero__wrapper::after {
    display: none;
  }

  .hero__descr {
    flex: 0 1 60%;
  }

  .hero__title {
    font-size: 56px;
  }

  .experience {
    padding-top: 80px;
    padding-bottom: 82px;
  }

  .about__descr,
  .instagram__descr {
    padding-top: 83px;
    padding-left: 40px;
  }

  .about__text {
    margin-bottom: 69px;
  }
  
  .skillset {
    padding-top: 81px;
  }
  
  .dribbble {
    padding-top: 82px;
  }

  .testimonials {
    padding-top: 162px;
  }

  .photography {
    padding-top: 103px;
  }

  .content-tabs__item {
    grid-column: 6 span;
  }


  .contacts {
    padding-top: 164px;
    padding-bottom: 83px;
  }

}

/* @media (max-width : 800px)  {

} */

@media (max-width: 768px) {
  .experience__subtitle {
    max-width: none;
  }

  .experience__card {
    max-width: 73%;
  }

  .experience-card__title {
    line-height: 33px;
  }

  .experience-card__text {
    font-size: 0.82rem;
    line-height: 23px;
  }

  .about__title,
  .instagram__title {
    font-size: 50px;
  }

  .about__text,
  .instagram__text {
    font-size: 16px;
  }

  .skillset__content {
    gap: 48px 24px
  }

  .skillset__descr {
    padding-right: 0;
    grid-column: 12 span;
  }

  .skillset__cards {
    grid-column: 12 span;
  }

  .skillset__icons {
    padding-top: 78px;
  }

  .projects {
    padding-top: 73px;
    padding-bottom: 81px;
  }

  .projects__subtitle {
    max-width: unset;
  }

  .projects__list {
    gap: 47px 24px;
  }

  .projects__item:nth-child(2),
  .projects__item:nth-child(4) {
    transform: unset;
  }

  .projects__item {
    grid-column: 12 span;
  }

  .projects-card__img {
    max-height: 620px;
  }

  /* если кнопка остаётся */

  /* .projects__cards {
    gap: 45px 24px;
}

  .projects__lnk {
    grid-column: 12 span;
    transform: unset;
  } */

  .projects__lnk {
    display: none;
  }

  .dribbble__descr {
    max-width: unset;
  }

  .dribbble__img {
    height: 516px;
  }

  .tesimonials-card__descr {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    padding: 30px;
  }

  .testimonials__img {
    height: 358px;
  }

  .testimonials__list {
    gap: 40px;
  }

  .photography__descr {
    max-width: unset;
    margin-bottom: 64px;
  }

  .footer {
    padding-bottom: 52px;
  }

  .footer__social {
    grid-column: 6 span;
  }

  .footer__menu {
    grid-column: 6 span;
  }

  .footer__list {
    gap: 30px 67px;
  }

  .footer__copy {
    max-width: 50%;
  }
}


@media (max-width: 600px)  {
  [class*=__container] {
    padding: 0 30px;
  }

  .section-title {
    font-size: 32px;
  }

  .header__nav {
    position: fixed;
    right: 0;
    top: var(--header-height);
    z-index: 1000;
    overflow-y: auto;
    padding: 40px;
    width: 60%;
    max-width: 360px;
    max-height: calc(100vh - var(--header-height));
    background-color: var(--black);
    transform: translateX(100%);
    transition: transform .6s ease-in-out;
  }

  .header__nav--visible {
    transform: none;
  }

  .nav__list {
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
  }

  .nav__link {
    font-size: 20px;
  }

  .burger__btn {
    display: block;
  }
  
  .hero {
    padding-top: var(--header-height);
  }

  .hero__wrapper {
    flex-direction: column;
    justify-content: center;
  }

  .hero__descr {
    transform: none;
  }

  .hero__img {
    flex: 0 0 100%;
    margin-bottom: 48px;
  }

  .hero__title {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .hero__descr {
    flex: 0 0 100%;
    padding: 0 20px;
  }

  .experience {
    padding-top: 10px;
    padding-bottom: 70px;
  }

  .experience__list {
    gap: 53px 29px;
  }

  .experience__item {
    grid-column: 12 span;
  }

  .experience__card {
    max-width: 100%;
  }

  .experience-card__title {
    margin-bottom: 16px;
  }

  .about__descr,
  .instagram__descr {
    grid-column: 12 span;
    padding-top: 43px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 52px;
  }

  .about__title {
    margin-bottom: 24px;
  }

  .about__text, .instagram__text {
    font-size: 18px;
    margin-bottom: 87px;
  }

  .about__img, .instagram__img {
    grid-column: 12 span;
    height: 450px;
  }

  .skillset__item {
    flex: 100%;
  }

  .projects {
    /* padding-top: 258px; */
    padding-bottom: 101px;
  }

  .projects-card__img {
    height: 400px;
    object-fit: cover;
  }

  .dribbble {
    padding-top: 65px;
  }

  .dribbble__title {
    font-size: 55px;
  }

  .dribbble__descr {
    margin-bottom: 70px;
  }

  .testimonials {
    padding-top: 110px;
  }

  .testimonials__container {
    gap: 24px 24px;
  }

  .testimonials__descr,
  .testimonials__content {
    grid-column: 12 span;
  }

  .testimonials__descr {
    margin-bottom: 41px;
  }

  .testimonials__title {
    font-size: 31px;
    max-width: 100%;
  }

  .testimonials__text {
    max-width: 100%;
  }

  .tesimonials-card__descr {
    padding: 27px;
  }

  .testimonials__quote-text {
    font-size: 23px;
  }

  .testimonials__quote-footer {
    font-size: 17px;
  }

  .btns-tabs__list {
    flex-wrap: wrap;
  }

  .btns-tabs__btn {
    min-width: 148px;
    /* width: var(--tabBtn-width); */
  }

  .content-tabs__item {
    grid-column: 12 span;
  }

  .contacts {
    padding-top: 98px;
    padding-bottom: 55px;
  }

  .contacts__container {
    gap: 45px 24px;
  }

  .contacts__descr {
    grid-column: 12 span;
  }

  .contacts__form {
    grid-column: 12 span;
  }

  .footer__top {
    margin-bottom: 65px;
    gap: 55px 24px;
  }

  .footer__social {
    grid-column: 12 span;
  }

  .footer-social__list {
    gap: 17px;
  }

  .footer__menu {
    grid-column: 12 span;
    transform: none;
  }

  .footer__copy {
    max-width: 100%;
  }

}

@media (max-width: 360px)  {
  [class*=__container] {
    padding: 0 20px;
  }
 
  .hero__bg {
    width: 750px;
    height: 288px;
  }

  .photography__descr {
    margin-bottom: 47px;
  }

  .footer {
    padding-top: 48px;
  }

  .footer__menu {
    grid-column: 12 span;
  }

  .footer__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: none;
    grid-auto-flow: row;
    gap: 30px 0;
  }


}

/* 
@media (max-width: 533px)  {}
@media (max-width: 480px) {}
@media only screen and (max-width : 320px)  {}
@media only screen and (max-width : 240px)  {}
@media only screen and (max-width : 176px)  {} */